.menu__main-menu ul li {
   display: inline;
}

/* When you want to change the view size */
.wp-post-image {
   /* width: 100%; */
   /* height: auto; */
}

/* Margin between all normal posts */
.type-post {
   margin: 50px 0;
}

.format-image, .format-video {padding: 50px}

.format-image {
   background-color: #cccccc;
}

.format-video {
   background-color: #eeeeee;
}

.widget__wrapper, img {
   width: 250px;
   height: 250px;
}